# dependencies
node_modules

# build output
dist
build

# environment
.env
.env.local

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# OS
.DS_Store
__MACOSX

# editors
.vscode
.idea

# typescript
*.tsbuildinfo
